<a href="https://colab.research.google.com/github/JotaBlanco/CryptoAlgoTrading/blob/main/02%20-%20Features%20And%20Targets/00_Example_Variables_Creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables creation 
Example on creating feature and target variables.

## 01 - Import historic data

- Link to messari https://messari.io/
- Link to messari free API doc: https://messari.io/api
- Messari free API limits: https://messari.io/api/docs#:~:text=Users%20that%20create%20an%20account,you%20need%20a%20higher%20limit.

Without an API key, requests are rate limited to 20 requests per minute and 1000 requests per day. Users that create an account will have slightly higher limits of 30 requests per minute and 2000 requests per day. PRO users have the highest limit at 60 requests per minute up to a maximum of 4000 requests per day

In [ ]:
import requests

## 02 - Import data from Quix

In [10]:
token = "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik1qVTBRVE01TmtJNVJqSTNOVEpFUlVSRFF6WXdRVFF4TjBSRk56SkNNekpFUWpBNFFqazBSUSJ9.eyJodHRwczovL3F1aXguYWkvb3JnX2lkIjoicXVpeCIsImh0dHBzOi8vcXVpeC5haS9yb2xlcyI6IiIsImlzcyI6Imh0dHBzOi8vYXV0aC5xdWl4LmFpLyIsInN1YiI6ImF1dGgwfGQ3ZDY0MWY4LTY5ZTktNDU2Zi1iYzcwLWI1YjMzN2U1OWVhZiIsImF1ZCI6WyJxdWl4IiwiaHR0cHM6Ly9sb2dpY2FsLXBsYXRmb3JtLmV1LmF1dGgwLmNvbS91c2VyaW5mbyJdLCJpYXQiOjE2NDY4NTA4MzEsImV4cCI6MTY0OTQ0MjgzMSwiYXpwIjoiMHptV2ZKZGtpdUdQaUpXeXBTQ0E4ckthVnZmUERLTEkiLCJzY29wZSI6Im9wZW5pZCBwcm9maWxlIGVtYWlsIiwicGVybWlzc2lvbnMiOltdfQ.omihtg4DWpLqVCjy07KH_iz8r1k1w7ncl1JZzcTq9kL1adGUy-NDVjn3YWUnKZcKslzQiQbN_5KsI9mAgDC5eiuYq1ZHcKY1u2zEVGV6WuZpIB9KvWknM1mhj41iVN-YOoPQmpUZVDcfDA2hS7yr7yueASEqQWND-t_E7QzIfwWQheMoxLHUYcpr1V_Q0RugT1YYM4X3UHBoz41EgKHtp5LNMtXfpHolv0BTiXlh2nhK-8LOIuPgQ3d6pVWqbCmLRPE1PwuMwuX-v8kv-6nxXHBra89Xu3Fi1TBa00e_FZEC_ZqZlw2vbDQxnZX36TSygtGPgskFSOQNHAtAVOhVaQ"

cryptos_list = ["BTC", "ETH", "BNB", "LUNA", "XRP", "ADA", "SOL", "AVAX", "DOT", 
                "DOGE", "SHIB", "MATIC", "WBTC", "CRO", "ATOM", "LTC", "NEAR", 
                "LINK", "UNI", "TRX", "BCH", "FTT", "LEO", "ALGO", "XLM"]

In [11]:
import requests
import pandas as pd
import io

def get_data_from_quix(cryptos_list, token):
  # Create numeric_parameters_list
  numeric_parameters_list = []
  for var_i in cryptos_list:
    dic_i = {'parameterName': var_i, 'aggregationType': 'None'}
    numeric_parameters_list = numeric_parameters_list + [dic_i]

  # Query the data
  url = "https://telemetry-query-quix-bitcointutorialworkspace.platform.quix.ai/data/query"
  head = {'Authorization': 'Bearer {}'.format(token), 'Accept': "application/csv"}
  payload = {'numericParameters': numeric_parameters_list }
  response = requests.post(url, headers=head, json=payload)

  df = pd.read_csv(io.StringIO(response.content.decode('utf-8')))
  df['Timestamp'] = [pd.to_datetime(ti) for ti in df['Timestamp']]
  return df

In [12]:
df = get_data_from_quix(cryptos_list, token)
df

,Timestamp,BTC,ETH,BNB,LUNA,XRP,ADA,SOL,AVAX,DOT,...,LTC,NEAR,LINK,UNI,TRX,BCH,FTT,LEO,ALGO,XLM
0,2022-03-07 20:43:35.678490,37617.905306,2472.495468,374.838633,77.274201,0.715823,0.790371,81.558292,71.723455,16.258198,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-03-07 20:44:22.997533,37653.656314,2474.299410,376.342309,77.315470,0.716373,0.792257,81.713566,71.871492,16.268945,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-03-07 20:44:24.427554,37656.254518,2474.833863,376.364746,77.315289,0.716349,0.792941,81.748313,71.894705,16.271291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-03-07 20:44:25.866896,37656.896948,2475.136387,376.356773,77.336501,0.716376,0.792919,81.761283,71.898175,16.271291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-03-07 20:44:27.284184,37653.431670,2474.587657,375.959031,77.307134,0.716338,0.792829,81.745070,71.877764,16.273114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,2022-03-09 18:49:30.445931,41883.725535,2703.156295,394.080611,99.279545,0.759033,0.840465,86.815675,76.665766,17.656830,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1336,2022-03-09 18:49:32.356152,41886.958045,2703.331201,394.133928,99.309653,0.759035,0.840536,86.825626,76.709796,17.663549,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1337,2022-03-09 18:49:34.379881,41897.683291,2703.893982,394.103683,99.361899,0.759158,0.841063,86.852876,76.736753,17.664686,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1338,2022-03-09 18:49:36.264213,41905.749657,2704.257433,394.133802,99.391079,0.759323,0.841179,86.873013,76.772097,17.671351,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1339,2022-03-09 18:49:38.222887,41911.032252,2704.676271,394.154583,99.394205,0.759352,0.841657,86.878747,76.800125,17.678909,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN